header {
    background-color: black;
    padding: 20px 0;
    text-align: center;

    div {
        display: flex;
        justify-content: space-around;

        a {
            text-decoration: none;
            cursor: pointer;
            color: white;
            font-size: 30px;
            display: inline-block;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: blue;
                transform: scale(1.1);
            }
        }
    }
}